.drawing-tools {
}

.draw-polygon {
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 85px;
  cursor: pointer;
}

.draw-polyline {
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 140px;
  cursor: pointer;
}

.remove-shape {
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 190px;
  cursor: pointer;
}
.items-list{
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 240px;
  cursor: pointer;
}
