.cesium-infoBox.cesium-infoBox-bodyless.cesium-infoBox-visible{
  display: none;
}
.cesium-viewer-animationContainer{
z-index: 8 !important;
}
.cesium-viewer{
  position: fixed;
}
/*.cesium-viewer-bottom{*/
  /*display: none;*/
/*}*/

/*.cesium-widget, .cesium-widget canvas{*/
  /*position: fixed;*/
/*}*/
/*.cesium-timeline-bar{*/
  /*display: none;*/
/*}*/
.cesium-viewer-timelineContainer{
  z-index: 8 !important;
}
/*.cesium-viewer-fullscreenContainer{*/
  /*display: none !important;*/
/*}*/
