.side-bar-scope{
  width: 300px;
  /*top: 42px;*/
  background-color: rgba(39, 39, 39, 0.92);
  height: calc(100% - 30px);
  z-index: 1;
  position: absolute;
  right: 0;
}
.cesium-viewer-toolbar{
  z-index: 1;
}

.side-bar-video-map{
  height: 30%;
}
.side-bar-chat-message{
  height: 40%;
}
.side-bar-settings-three-d{
  height: 30%;
}
