<div ng-if="threeDCtrl.display">
  <div>
    <label class="label-size"> Size :</label>
    <input class="input-text-size" ng-model="threeDCtrl.size" ng-keypress="threeDCtrl.sizeSetting($event)"
           maxlength="20" type="text"/>
  </div>

  <div>
    <label class="label-height"> Height :</label>
    <input class="input-text-height" ng-model="threeDCtrl.height" ng-keypress="threeDCtrl.heightSetting($event)" maxlength="20"
           type="text"/>
  </div>

 <div class="route-scope">
   <img ng-click="threeDCtrl.drawModelTrack()" class="route-img" src="assets/images/route.svg">
 </div>

  <div class="move-scope">
    <img ng-click="threeDCtrl.drawModelMove()" class="route-img" src="assets/images/move-arrows.svg">
  </div>

  <div class="move-remove">
    <img ng-click="threeDCtrl.remove3D()" class="route-img" src="assets/dustbin.svg">
  </div>

</div>

